:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin-left: 10px;
  flex: 0 0 90px;
}

:local(.counter) {
    list-style: none;
    padding: 20px 10px 20px 20px;
    background-color: white;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    font-size: 2em;
}


button:focus {
  outline: 0 !important;
}
